.sections8px {
    padding: var(--s8px);
}

.sections16px {
    padding: var(--s16px);
}

.sections32px {
    padding: var(--s32px);
}

.sections48px {
    padding: var(--s48px);
}

.sections56px {
    padding: var(--s56px);
}

.sections64px {
    padding: var(--s64px);
}

.sections72px {
    padding: var(--s72px);
}

.sections80px {
    padding: var(--s80px);
}