*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {

  /** [ -- FONTS -- ] **/

--font-primary: 'Nunito', sans-serif;
--font-secondary: 'Merriweather', sans-serif;

  /** [ -- SPACINGS -- ] **/

  --s8px: 8px;
  --s16px: 16px;
  --s24px: 24px;
  --s32px: 32px;
  --s40px: 40px;
  --s48px: 48px;
  --s56px: 56px;
  --s64px: 64px;
  --s72px: 72px;
  --s80px: 80px;


  /** [ -- COLORS -- ]  **/

  --color-primary: rgb(25, 45, 55);
  --color-secondary: rgb(245, 245, 245);
  --color-tertiary: rgb(145, 170, 157);

  --color-white: rgb(255, 255, 255);
  --color-black: rgb(21, 20, 20);


  font-family: var(--font-primary), serif;
}